@import "tailwindcss";

.body {
  background-image: url("./bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.txt-border {
  -webkit-text-stroke: 0.5px #fff;
}
.body-img {
  background-image: url("./bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* min-width: 100vw; */
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.form-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
